.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 25px;
	max-width: 100%;
	height: 154px;
	max-height: 100%;
	background-color: #FFFFFF;
	box-shadow: 0 0 17px 1px rgba(182, 196, 206, 0.24);
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo-desktop {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;
	}

	&__order-content {
		max-width: 445px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 25px;
	}
}

.user-content {
	&__item {
		position: relative;
		margin-right: 10px;
		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}
	}
}

.circleVisibility {
	display: none;
}

@media (max-width: 1199px) {
	.header {
		&__order-content {
			max-width: 400px;
		}
	}
}

@media (max-width: 1023px) {
	.header {
		height: 81px;

		&__logo-desktop {
			display: none;
		}
	}
}