.blockproducts{
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2F3035;
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.blockproducts__container{
    max-width: 1171px;
    width: 100%;
   
}

.blockproducts__title{
    margin-bottom:25px ;
}

.blockproducts__category{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #2F3035;
    
    display: flex;
    gap: 50px;

}

.blockproducts__category_item{
    cursor: pointer;
    position: relative;
}

.blockproducts__category_item::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -10px;
    background-color: #1C62CD;
    transition: all 0.3s;
}

.blockproducts__category_item:hover::before{
    width: 100%;
}


.blockproducts__cards{
    margin-top: 35px;
  
    max-width: 1171px;
   position: relative;
   
  
}

.blockproducts__cards_left{
    position: absolute;
    border-top: 1px solid #2F3035;;
    border-left: 1px solid #2F3035;;
    height: 15px;
    width: 15px;
    transform: rotateZ(-45deg);
    left: -20px;
    z-index: 2;
    top: 45%;
    transition: all 0.3s;
    cursor: pointer;
}

.blockproducts__cards_left:hover{
    border-color: grey;
}

.blockproducts__cards_right:hover{
    border-color: grey;
}

.blockproducts__cards_right{
    cursor: pointer;
    position: absolute;
    border-top: 1px solid #2F3035;;
    border-left: 1px solid #2F3035;;
    height: 15px;
    width: 15px;
    transform: rotateZ(135deg);
    right: -20px;
    z-index: 2;
    top: 45%;
    transition: all 0.3s;
}


@media (max-width: 1199px) {
	.blockproducts__container {
		max-width: 972px;
	}
}