.card_item{
    max-width: 271px;
    width: 100%;
    height: 403px;
    position: relative;

    border: 1px solid #CDCDCD;
    border-radius: 3px;

 

    display: flex;
    flex-direction: column;
    align-items:center;
}

.card_item__sale{
    position: absolute;
    left: 0;
    background: #1C62CD;
    padding: 7px 15px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    }
.card_item__like{
    position: absolute;
    top: 16px;
    right: 19px;
    cursor: pointer;
    
}



.card_item__image{
    margin-top: 52px;
    height: 200px;
    width: 200px;
    background-color:gray;
}

.card_item__title{
    margin-top: 14px;
    max-width: 229px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.card_item__price{
    margin-top: 25px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    /* Основной текст */

    color: #2F3035;
}

.card_item__cart{
    background-color:#1C62CD;
    padding: 10px 15px;
    
    position: absolute;
    cursor: pointer;
    bottom:-2.5px;
    right: 0;
    border-radius: 10px 0px 0px 0px;
}