.cart_container{
    display: inline-block;
    max-width: 271px;
    width: 100%;
    height: 403px;
    margin-right: 29px;
    transition:all 1s;
}

.cart_container:nth-child(1){
    margin-left: 0;
    
}

.card_item{
    height: 100%;
    position: relative;

    border: 1px solid #CDCDCD;
    border-radius: 3px;

 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.card_item_watch{
    position: relative;
    transition: all 0.2s;

}
.card_item_watch:hover{
    background: #FFFFFF;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
}

.card_item_watch:hover .card_item__title ,.card_item_watch:hover .card_item__price{
    color: #1C62CD;
}

.card_item_watch::before{
    content: 'Посмотреть товар';
    position: absolute;
    top: 120px;
    height: 60px;
    width: 80%;
    background: #FFFFFF;
    opacity: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;


    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2F3035;
    transition: all 0.2s;
}

.card_item_watch:hover::before{
    opacity: 0.9;

}

.card_item__sale{
    position: absolute;
    left: 0;
    background: #1C62CD;
    padding: 7px 15px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    }
.card_item__like{
    position: absolute;
    top: 16px;
    right: 19px;
    cursor: pointer;


}

.card_item__like path{
    position: relative;
    transition: all 0.1s;

}


.active.card_item__like path{
    fill: #1C62CD;
    stroke: #1C62CD;
}


.card_item__like:hover path{
    
    stroke: #1C62CD;
    
}



.card_item__image{
    margin-top: 52px;
    height: 200px;
    width: 200px;
    background-color:gray;
}

.card_item__title{
    margin-top: 14px;
    max-width: 229px;
    overflow-wrap: break-word;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
   
}

.card_item__price{
    margin-top: 25px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    /* Основной текст */

    color: #2F3035;
}

.card_item__cart{
    background-color:#1C62CD;
    padding: 10px 15px;
    
    position: absolute;
    cursor: pointer;
    bottom:-2.5px;
    right: 0;
    border-radius: 10px 0px 0px 0px;
}



.card_item__cart path{
    transition: all 0.1s;
}

.card_item__cart:hover path{

    fill: #2F3035;
}

.card_item_none{
    margin-top: 7px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    /* Основной текст */

    color: #2F3035;

    display: flex;
    flex-direction: column;
    gap: 13px;

  
}

.card_item_none_link{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* акцент */

    color: #1C62CD;

    border-bottom: 1px solid #1C62CD;;
    transition: all 0.3s;
}

.card_item_none_link:hover{
   font-size: 17px;
}